<body id="shared">
<header>
  <%= render "shared/header" %>
</header>
<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h2>Create Account</h2>
      <h5>新規アカウントの作成</h5>
    </div>
    <div class='account-page__inner--right user-form'>
      <%= form_with model: @user, as: resource_name, url:  user_registration_path, local: true do |f|%>
        <%= devise_error_messages!%>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :nickname%>
          </div>
          <div class='field-input'>
             <%= f.text_field :nickname, autofocus: true %>
          </div>
        
        <div class='field'>
          <div class='field-label'>
            <%= f.label :email%>
          </div>
          <div class='field-input'>
            <%= f.email_field :email%>
          </div>
        </div>
       
          <div class="field">
           <div class='field-label'>
            <%= f.label :password %>
              <% @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <div class='field-input'>
            <%= f.password_field :password, autocomplete: "new-password" %>
            </div>
          </div>
          <div class="field">
            <div class='field-label'>
              <%= f.label :password_confirmation %>
               </div>
              <div class='field-input'>
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>
          </div>
        <div class='actions'>
          <%= f.submit "Create Account", class: 'btn'%>
        </div>
        </div>
        </div>
    <% end %>
    
  </div>
</div>
<footer>
    <%= render "shared/footer" %>
</footer>
</body>