<body id="post">
  
  <header>
  <%= render "shared/header" %>
  </header>
  
  <div id = "wrap">
    <div class ="content"> 
      <h1>動画投稿一覧</h1> 
    <ul class='post-lists'>
      <% @posts.each do |post| %>
         <li class='list'>
          <%= video_tag post.movie, controls: true, autobuffer: true, loop: true, class: "post-img" %>
        
          <div class='post-info'>
            <h3 class='post-title'>
              title:<%=post.title %>
            </h3>
            <div class='post-category'>
              <span>Genre：<%= post.category.name%></span>
            </div>
          </div>
           </li>
      <%end%>
      </ul>
    </div> 
  </div> 
  <% if user_signed_in? %>
    <div class='post-btn'>
    <%=link_to "/home/:home_id/posts/new" do%>
      <span class='post-btn-text'>POST</span>
      <%end%>
    </div>   
  <% end %>

  <footer>
  <%= render "shared/footer" %>
   </footer>
</body>