<body id="post">
   
  <header>
    <%= render "shared/header" %>
  </header>
  
  <div id = "wrap">
    <div class ="content"> 
      <h1>動画投稿一覧</h1> 
      <% @posts.each do |post| %>
        <%= video_tag post.movie, :autoplay => true, :loop => true, muted: => true, class: "video-size"  %>
          <div class='post-info'>
            <h3 class='post-title'>
              <%=post.title %>
            </h3>
            <div class='post-category'>
              <span><%= post.category%></span>
            </div>
          </div>
       <%end%>
      <%if user_signed_in? %>
        <div class='post-btn'>
          <span class='post-btn-text'>Post</span>
          <%=link_to "#" do%>
            <%= image_tag 'upload.png' , size: '185x50' ,class: "post-btn-icon" %>
          <%end%>
        </div> 
      <%end%> 
    </div>  
  </div> 
  <footer>
      <%= render "shared/footer" %>
  </footer>
  
</body>