<body id="post">
  
  <%= render "shared/header" %>
  
  
  <div id = "wrap">
    <div class ="content"> 
      <h1>動画投稿一覧</h1> 
      <% @posts.each do |post| %>
         <li class='list'>
          <%= video_tag post.movie, controls: true, autobuffer: true, loop: true, class: "post-img" %>
        
          <div class='post-info'>
            <h3 class='post-title'>
              <%=post.title %>
            </h3>
            <div class='post-category'>
              <span><%= post.category%></span>
            </div>
          </div>
           </li>
      <%end%>
    
  <% if user_signed_in? %>
    <div class='post-btn'>
    <%=link_to "#" do%>
      <span class='post-btn-text'>POST</span>
      <%end%>
    </div>   
  <% end %>

  <%= render "shared/footer" %>
</body>