<body id="post">
  
  <header>
  <%= render "shared/header" %>
  </header>

  <%# <form id="form1" >
    <input id="sbox"  id="s" name="s" type="text" placeholder="キーワードを入力" />
    <input id="sbtn" type="submit" value="検索" />
  </form> %>
  <%= form_with(url: search_posts_path , local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "search for keywords", class: "input-box" %>
      <button class="search-button">
       <%= image_tag "search.png", class:"search-icon" %>
      </button>
    <% end %>
  
  <div id = "wrap">
    <div class ="content"> 
      <h1>A video post site</h1> 
     </div>   
    <ul class='post-lists'>
      <% @posts.each do |post| %>
    <%= render partial: "posts/post", locals: { post: post } %>    
       <%end%>
      </ul>
  </div> 
  <% if user_signed_in? %>
    <div class='post-btn'>
    <%=link_to "  /posts/new" do%>
      <span class='post-btn-text'>POST</span>
      <%end%>
    </div>   
  <% end %>

  <footer>
  <%= render "shared/footer" %>
   </footer>
</body>