<body id="post">
  
  <header>
  <%= render "shared/header" %>
  </header>
<div id="ho" class="post-show">
   <div class="post-box">
    <div class='post-img-content'>
     <%= video_tag @post.movie, controls: true, autobuffer: true, class:"post-box-img" %>
    </div>       
    <h2 class="name">
      <%= @post.title %>
    </h2>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-post">Nick name</th>
          <td class="detail-value"><%= @post.user.nickname %> 
        </tr>
        <tr>
          <th class="detail-post">Content</th>
          <td class="detail-value"><%= @post.content %>
        </tr>
        <tr>
          <th class="detail-post">Category</th>
          <td class="detail-value"><%= @post.category.name %>
        </tr>
      </tbody>
    </table>
   
     <% if user_signed_in? %>
      <div class="option">
        <%# お気に入りボタン %>
        <div id="favorites_buttons_<%= @post.id %>">
               <%= render partial: 'shared/like' %>z1
        </div>
        <%# /お気に入りボタン %>
      </div>
    <% end %>
  
    
   <div class="container">
    <% if current_user %>
      <%= form_with(model: [@post, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2", class:"text_box" %>
        <%= form.submit "投稿する" , class: "comment-btn"%> 
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  
 
   <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
       </div>  
    </div>

    <%# ログインしていて、なおかつ、ログインしているユーザと投稿しているユーザが同一人物でないとき表示しましょう。 %>
    <% if user_signed_in? && current_user.id == @post.user_id %>
    <%= link_to 'EDIT', edit_post_path(@post.id), method: :get, class: "post-red-btn" %> 
    <p class='or-text'>or</p>
    <%= link_to 'DELETE', post_path(@post.id), method: :delete, class:'post-destroy' %>
    <% end %>
    <%# //ログインしていて、なおかつ、ログインしているユーザと投稿しているユーザが同一人物でないとき表示しましょう。 %>
    
  </div>
   <footer>
  <%= render "shared/footer" %>
   </footer>
</body>
