<body id="post">
  
  <header>
  <%= render "shared/header" %>
  </header>
<div id="ho" class="post-show">
   <div class="post-box">
    <div class='post-img-content'>
     <%= video_tag @post.movie, controls: true, autobuffer: true, class:"post-box-img" %>
    </div>       
    <h2 class="name">
      <%= @post.title %>
    </h2>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-post">POSTER</th>
          <td class="detail-value"><%= @post.user.nickname %>
        </tr>
        <tr>
          <th class="detail-post">CATEGORY</th>
          <td class="detail-value"><%= @post.category.name %>
        </tr>
        <tr>
          <th class="detail-post">CAPTION</th>
          <td class="detail-value"><%= @post.content %>
        </tr>
      </tbody>
    </table>

    <%# ログインしていて、なおかつ、ログインしているユーザと投稿しているユーザが同一人物でないとき表示しましょう。 %>
    <% if user_signed_in? && current_user.id == @post.user_id %>
    <%= link_to 'EDIT', edit_post_path(@post.id), method: :get, class: "post-red-btn" %> 
    <p class='or-text'>or</p>
    <%= link_to 'DELETE', post_path(@post.id), method: :delete, class:'post-destroy' %>
    <% end %>
    <%# //ログインしていて、なおかつ、ログインしているユーザと投稿しているユーザが同一人物でないとき表示しましょう。 %>
    
  </div>
   <footer>
  <%= render "shared/footer" %>
   </footer>
</body>
