<body id="post">
  
  <header>
  <%= render "shared/header" %>
  </header>

    <div class='post-img-content'>
     <%= video_tag @post.movie, controls: true, autobuffer: true, class:"post-box-img" %>
    </div>       
    
    <h2 class="name">
      <%= @post.title %>
    </h2>

    <table class="detail-table">
      <tbody>
         <tr>
          <th class="detail-post">content</th>
          <td class="detail-value"><%=@post.content %>
        </tr>
        <tr>
          <th class="detail-post">category</th>
          <td class="detail-value"><%= @post.category.name %>
        </tr>
      </tbody>
    </table> 

    <%if user_signed_in? && @post.user.id == current_user.id%>
      <%= link_to 'update',edit_home_post_path,  method: :get, class: "post-btn" %>
    <p class='or-text'>or</p>> 
      <%= link_to 'delete', home_post_path, method: :delete, class:'post-destroy' %>
    <%else%>
    <%end%>  

  <footer>
  <%= render "shared/footer" %>
   </footer>

</body>